/* STYLESHEET FOR THE WEBPAGE */
/* COLOR PALETTE IN THIS WEBSITE: lightpink ; #ffdbde ; white ; #3a4664 ; #a37647 .
/* FONTS */
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto-Black.ttf");
}
/* GENERAL STYLE */
body {
  font-family: RobotoRegular, sans-serif;
  background-color: lightpink;
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: left;
}
#container {
  width: 90%;
  background-color: #ffdbde; /*Temporary for guiding */
  margin: auto; /*Centralice the container*/
}
/* HERO SECTION STYLE */
#hero {
  background-size: cover;
  background-image: url("../images/psu_3.jpg");
  height: 90vh;
  background-position: 90%;
  position: relative;
  font-family: RobotoLight, sans-serif;
  border-bottom: 5px solid #a37647;
}
#hero h1 {
  position: static;
  color: #ffff;
  bottom: 500px;
  font-size: 3em;
  padding: 1%;
  bottom: 480px;
  left: 3.5%;
  background-color: #3a4664;
  border-bottom: 5px solid #a37647;
  text-transform: uppercase;
}
#cta {
  position: absolute;
  bottom: 40px;
  left: 4%;
  padding: 20px;
  background-color: #ffff;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 2.5em;
}
#cta:hover {
  /* PLACE THE MOUSE ON THE BUTTON */
  color: #ffff;
  background-color: #3a4664;
  cursor: pointer;
}
/* INTRODUCTION STYLE  */
#introduction {
  position: relative;
  background-color: #3a4664;
  color: #ffff;
  font-family: RobotoLight, sans-serif;
  padding: 1% 5%;
  font-size: 1.5em;
  border-bottom: 5px solid #a37647;
}
#introduction p {
  text-align: justify;
}
#psu1 {
  /* Imagen de la fuente de alimentación */
  /* El texto no puede ser menor que la imagen, si no, sobresaldrá. */
  width: 50%;
  float: right;
  margin: 1% 0% 2% 2%;
}

/* SECTION 3 STYLE */
#sec3 {
  text-align: justify;
  position: relative;
  background-color: #3a4664;
  color: #ffff;
  font-family: RobotoLight, sans-serif;
  padding: 1% 5%;
  font-size: 1.5em;
  border-bottom: 5px solid #a37647;
}

/* SECTION 4 STYLE */

#sec4 {
  display: grid;
  grid-gap: auto;
  grid-template-columns: auto auto;
  background-color: #3a4664;
  color: white;
  font-family: RobotoLight, sans-serif;
  font-size: 1.5em;
  border-bottom: 5px solid #a37647;
  text-align: justify;
}
.half {
  /* width: 50%;  in small screens*/
  float: left;
  box-sizing: border-box; /* Include padding into width */
  padding-bottom: 2%;
}
#left {
  padding: 0% 10%;
  background-color: #3a4664;
}
#right {
  background-color: #3a4664;
  padding-right: 10%;
}
#plus80 {
  /* PSU Efficency image 80 plus */
  display: block;
  padding-top: 25%;
  width: 100%;
  margin: auto;
}
#right p {
  margin-top: -2%;
  font-size: 0.7em;
  text-align: center;
}
#plusgold {
  width: 100%;
  padding: 2% 0 0 0%;
}
/* SECTION 5 STYLE */

/* SECTION 6 STYLE */

/* SECTION 7 STYLE */

/* SECTION 8 STYLE */

/* FOOTER STYLE */

/* MEDIA QUERIES */

@media only screen and (max-width: 850px) {
  #container {
    width: 100%;
  }
  #psu1,
  #psu2,
  #psu3 {
    width: 100%;
  }
  .half {
    width: 100%;
  }
  #plus80 {
    width: 100%;
    padding-top: 0;
  }
  #sec4 {
    grid-template-columns: auto;
  }
  #right {
    padding-left: 5%;
  }
  #left {
    padding-left: 5%;
  }
}
